<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Page</title>
  </head>
  <body>
    <div class="contact" id="Contact">

      <div class="cont">
        <h1 style="margin-left:20%;font-size: 2.5rem;">Book an Appointment</h1>
        <div class="container">
        <img src="../../assets/contact.png" alt="" height="250" width="400" />
        <form>
          <input
            name="name"
            type="text"
            placeholder="Name"
            class="rounded-md mb-6 p-3 border border-black"
            value=""
          />
          <input name="email" type="text" placeholder="Email" />
          <input name="phone" type="text" placeholder="Phone" />
          <textarea
            name="message"
            id="Message"
            cols="30"
            rows="5"
            placeholder="Message"
          ></textarea>
          <button
            type="submit"
            style="
              background-color: #2506ad;
              box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
              transition: 0.3s ease;
            "
          >
            Submit
          </button>
        </form>
      </div>
      </div>
    </div>
    <footer>
        <div class="footer-box">
         <h2>Services</h2>
         <a href="#">HEPATOLOGY</a>
         <a href="#">MEDICAL DRESSAGE</a>
         <a href="#">LABORATORY</a>
         <a href="#">VACCINATIONS</a>
         <a href="#">WHITENING</a>
       </div>
       <div class="footer-box">
         <h2>About Us</h2>
         <a href="#">Company Overview</a>
         <a href="#">Management</a>
         <a href="#">Initiatives</a>
         <a href="#">Carrers</a>
         <a href="#">Our Doctors Achieve</a>
       </div>
       <div class="footer-box">
         <h2>Queries</h2>
         <a href="#">Post a Query</a>
         <a href="#">Apollo Clinics</a>
         <a href="#">Reach Hospitals</a>
         <a href="#">Apollo Cradle</a>
         <a href="#">Ask Question</a>
       </div>
       <div class="footer-box">
         <h2>Facilities</h2>
         <a href="#">HEPATOLOGY</a>
         <a href="#">MEDICAL DRESSAGE</a>
         <a href="#">LABORATORY</a>
         <a href="#">VACCINATIONS</a>
         <a href="#">WHITENING</a>
       </div>
    </footer>
  </body>
</html>
